src/logic-intg/news-feed-fetch/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "Recurrence": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Minute",
          "interval": 15
        }
      }
    },
    "actions": {
      "Fetch_News_Articles": {
        "type": "Http",
        "inputs": {
          "method": "GET",
          "uri": "@{concat(appsetting('NEWS_FEED_API_URL'), '/api/news?source=FX News Centre')}"
        },
        "runAfter": {}
      },
      "Parse_Articles": {
        "type": "ParseJson",
        "inputs": {
          "content": "@body('Fetch_News_Articles')",
          "schema": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "title": { "type": "string" },
                "summary": { "type": "string" },
                "content": { "type": "string" },
                "type": { "type": "string" },
                "category": { "type": "string" },
                "publishedDate": { "type": "string" },
                "author": { "type": "string" },
                "isPublished": { "type": "boolean" },
                "publishedAt": { "type": "string" },
                "source": { "type": "string" }
              }
            }
          }
        },
        "runAfter": {
          "Fetch_News_Articles": [ "Succeeded" ]
        }
      },
      "Filter_Recent_Articles": {
        "type": "Query",
        "inputs": {
          "from": "@body('Parse_Articles')",
          "where": "@greaterOrEquals(item()?['publishedAt'], formatDateTime(addMinutes(utcNow(), -2), 'yyyy-MM-ddTHH:mm:ssZ'))"
        },
        "runAfter": {
          "Parse_Articles": [ "Succeeded" ]
        }
      },
      "For_each_article": {
        "type": "Foreach",
        "foreach": "@body('Filter_Recent_Articles')",
        "actions": {
          "Check_Blob_Exists": {
            "type": "ServiceProvider",
            "inputs": {
              "parameters": {
                "containerName": "articles",
                "blobName": "@{concat('news/', string(items('For_each_article')?['id']), '.json')}"
              },
              "serviceProviderConfiguration": {
                "connectionName": "AzureBlob",
                "operationId": "readBlob",
                "serviceProviderId": "/serviceProviders/AzureBlob"
              }
            },
            "runAfter": {}
          },
          "Upload_Article_to_Blob": {
            "type": "ServiceProvider",
            "inputs": {
              "parameters": {
                "containerName": "articles",
                "blobName": "@{concat('news/', string(items('For_each_article')?['id']), '.json')}",
                "content": "@items('For_each_article')"
              },
              "serviceProviderConfiguration": {
                "connectionName": "AzureBlob",
                "operationId": "uploadBlob",
                "serviceProviderId": "/serviceProviders/AzureBlob"
              }
            },
            "runAfter": {
              "Check_Blob_Exists": [ "Failed" ]
            }
          },
          "Send_Article_to_EventHub": {
            "type": "ServiceProvider",
            "inputs": {
              "parameters": {
                "eventHubName": "@appsetting('EVENTHUB_NAME')",
                "message": {
                  "contentData": "@items('For_each_article')"
                }
              },
              "serviceProviderConfiguration": {
                "connectionName": "EventHub",
                "operationId": "sendEvent",
                "serviceProviderId": "/serviceProviders/eventHub"
              }
            },
            "runAfter": {
              "Upload_Article_to_Blob": [ "Succeeded" ]
            }
          }
        },
        "runAfter": {
          "Filter_Recent_Articles": [ "Succeeded" ]
        }
      }
    },
    "outputs": {}
  },
  "kind": "Stateful"
}
